.loginComponent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;    
    background-color: #151515;
}

#loginWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #252525;
    border-radius: 3px;
    width: 250px;
    max-width: 100%;
    padding: 30px;
}

.loginTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    align-self: center;
    color: silver;
    margin-bottom: 30px;
}

.credentialsTitles {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    align-self: flex-start;
    color: silver;
}

.credentialsWrapper {
    position: relative;
}

.credentialsInputs {
    border: none;
    border-bottom: 1px solid #101010;
    background-color: transparent;
    width: 100%;    
    text-indent: 25px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 10px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #999999;
}

.credentialsInputs::placeholder {
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #606060;
}

.credentialsInputs:focus {
    outline: none;
}

.credentialsIcon {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #606060;
}

#forgotPassword {
    align-self: flex-end;
    margin: 10px 0 50px 0;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #999999;
}

#loginButton {
    padding: 7px 0;
    cursor: pointer;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 5px;
    background-color: #F40009;
    color: whitesmoke;
}

#or {
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    color: silver;
}

#googleLogin {
    align-self: center;
    width: 100%;
}

#googleLogo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
}

#googleLoginButton {
    width: 100%;  
    padding: 7px 0;
    cursor: pointer;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 5px;
    background-color: #0077c0;
    color: whitesmoke;
}

#signupLink {
    margin-top: 80px;
    margin-bottom: 5px;
    align-self: center;
    text-decoration: none;
    color: #999999;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
} 