.loginComponent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 200px;
    background-color: blueviolet;
}

#usernamePasswordLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

